#bic {
  background-color: dodgerblue;
  z-index: -3;
}

#bic div.item {
  width: 80px;
  height : 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image:
  linear-gradient(to top, green 190px, transparent 190px),
  linear-gradient(125deg, transparent 40px, silver 40px),
  linear-gradient(to bottom, transparent 15px, red 15px, red 20px, transparent 20px),
  linear-gradient(to right, dodgerblue 10px, transparent 10px),
  linear-gradient(to bottom, transparent 20px, red 20px, red 27px, transparent 27px);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);

}

#bic div.item::before {
  width: 50px;
  height: 50px;
  z-index: -1;
  margin-left: 20px;
  margin-top: -12px;
  background-image: radial-gradient(circle 50px, silver 35%, transparent 35%);
}

#bic div.item::after {
  width: 80px;
  height: 190px;
  margin-top: 30px;
  background-image: linear-gradient(to right, transparent 32px, #00A800 32px, transparent 35px, transparent 53px, #00A800 53px, #00A800 56px, transparent 56px);
}
